<ion-view>
  <!--  Center and make red the title  -->
  <ion-header-bar class="bar-assertive" align-title="center">
      <h1 class="title">What's 4 Lunch</h1>
  </ion-header-bar>

  <ion-content scroll="false">
    <!--    SEARCH recipes    -->
    <div class="imgS" data-tap-disabled="true">
        <a href="#/app/search">
          <div class="textMiddle"><h1>Search</h1></div>
          <img src="img/Search.jpg">
        </a>
    </div>
    
    <!--    Recipes in My kitchen    -->
    <div class="imgK" data-tap-disabled="true">
        <a href="#/app/kitchen">
          <div class="textMiddle"> <h1>My kitchen</h1> </div>
          <img src="img/Kitchen.jpg">
        </a>
    </div>

    <!--    RANDOM recipes    -->
    <div class="imgR" data-tap-disabled="true">
        <a href="#/app/random/{{selectedRecipe}}">
          <div class="textMiddle"><h1>Astonish me!</h1></div>
          <img src="img/Random.jpg">
        </a>
    </div>
  </ion-content>
</ion-view>