<ion-view>
  <ion-header-bar class="bar-assertive" align-title="center">
    <a href="#/home"><button class="button button-icon icon ion-ios-home"></button></a>
    <h1 class="title">My kitchen</h1>
    <button class="button button-icon ion-android-cart" ng-click="openModal()"></button>
  </ion-header-bar>
    
  <ion-content>
  <div class="list card" ng-repeat="x in recipeListIng">
      <a href="#/app/recipeList/{{x.id}}" ng-click="selectRecipe({{x.id}})">
      <div class="item item-image">
        <img src="{{x.img}}">
        <span class="recipeTitle">{{x.title}}</span>
      </div>
      <div class="item">
        <p>{{x.details}}</p>
      </div>

      </a>
   </div>
  </ion-content>
</ion-view>

<!-- Modal page, choose ingredients -->
<script id="filterIng.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-assertive" align-title="center">
        <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        <h1 class="title">My ingredients</h1>
    </ion-header-bar>
      
  <ion-content>
    <h4> Introduce your available ingredients: </h4>
      
<!-- Label to introduce the new ingredient -->
    <div class="list">
      <label class="item item-input item-floating-label">
        <span class="input-label">Insert ingredient</span>
        <input type="text" placeholder="Insert ingredient" ng-model="query">
      </label>
    </div>
      
<!-- Show the ingredients in a list -->
    <ul class="list">
      <li class="item item-checkbox" ng-repeat="ing in ingredientsCheckList | filter:query">
         <label class="checkbox">
           <input type="checkbox" ng-model="ing.checked">
         </label> {{ing.name}}
      </li>
    </ul>
      
  </ion-content>
    
<!--  Footer, button search  -->
   <div class="bar bar-footer">
      <div class="tabs">
        <a class="tab-item" ng-click="buttonSearch()">
          Search
        </a>
      </div>
    </div>
  </ion-modal-view>
</script>