<ion-view>
  <ion-header-bar class="bar-assertive" align-title="center">
    <a href="#/home"><button class="button button-icon icon ion-ios-home"></button></a>
    <h1 class="title">My kitchen</h1>
    <button class="button button-icon ion-android-cart" ng-click="openModal()"></button>
  </ion-header-bar>
    
  <ion-content>
<!--      {{recipesK}}-->
    <!--  List of recipes  -->
    <div class="list card" ng-repeat="recipe in recipesK">
      <a href="#/app/recipeList/{{recipe.id}}" ng-click="selectRecipe({{recipe.id}})">
      <div class="item item-image">
        <img src="http://w4l-recipes.appspot.com/img/{{recipe.image}}">
        <span class="recipeTitle">{{recipe.name}}</span>
      </div>
      <div class="item">
        <p>{{recipe.description}}</p>
      </div>
      </a>
    </div>
  </ion-content>
</ion-view>

<!-- Modal page, choose ingredients -->
<script id="filterIng.html" type="text/ng-template">
  <ion-modal-view>
    <ion-header-bar class="bar-assertive" align-title="center">
        <button class="button button-clear button-primary" ng-click="cancelButton()">Cancel</button>
        <h1 class="title">My ingredients</h1>
    </ion-header-bar>
      
    <ion-content>
      <h4> Introduce your available ingredients: </h4>
      
<!-- Label to search ingredient -->
      <div class="list">
        <label class="item item-input item-floating-label">
          <span class="input-label">Search ingredient</span>
          <input type="text" placeholder="Search ingredient" ng-model="query">
        </label>
      </div>
      
<!-- Show the ingredients in a list -->
      <ul class="list">
        <li class="item item-checkbox" ng-repeat="ing in ingredients | filter:query">
           <label class="checkbox">
             <input type="checkbox" ng-model="ing.checked">
           </label> {{ing.name}}
        </li>
      </ul>

    </ion-content>
    
<!--  Footer, button search  -->
    <ion-footer-bar>
      <div class="tabs">
        <a class="tab-item" ng-click="searchButton()">
          <h1 class="title">Search</h1>
        </a>
      </div>
    </ion-footer-bar>
  </ion-modal-view>
</script>