<ion-view view-title="{{recipeList[selectedRecipe].title}}">
  <ion-header-bar class="bar-assertive" align-title="center">
    <a href="#/home"><button class="button button-icon icon ion-ios-home"></button></a>
    <h1 class="title">{{recipeList[selectedRecipe].title}}</h1>
    <button class="button button-icon ion-shuffle" ng-click="randomRecipe()"></button>
  </ion-header-bar>

  <ion-content class="recDetBody">
    <div class="recipeImage">
        <img src="{{recipeList[selectedRecipe].img}}">
    </div>
      
    <div class="list">
      <h4 class="dividers"> Ingredients </h4>
      <ul style="list-style-type: disc">
        <li ng-repeat="i in ingredients[selectedRecipe].ing">{{i}}</li>
      </ul>
    </div>
      
    <h4 class="dividers"> Directions </h4>
    <div class="card">
      <div class="item item-text-wrap">
        {{directions[selectedRecipe].dir}}
      </div>
      <div class="item item-text-wrap">
        {{directions[selectedRecipe].dir}}
      </div>
    </div>
  </ion-content>
</ion-view>
