<ion-view view-title="{{recipeDetails.title}}">
  <ion-nav-bar class="bar-assertive" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
    
  <ion-content class="recDetBody">
    <div class="recipeImage">
        <img src="{{recipeDetails.img}}">
    </div>
      
    <div class="list">
      <h4 class="dividers"> Ingredients </h4>
      <ul style="list-style-type: disc">
        <li ng-repeat="i in recipeDetails.ing">
            {{i}}
        </li>
      </ul>
    </div>
      
    <h4 class="dividers"> Directions </h4>
    <div class="card">
      <div ng-repeat="d in recipeDetails.dir" class="item item-text-wrap">
          {{d}}
      </div>
    </div>
  </ion-content>
</ion-view>
