<ion-view view-title="{{details.details.name}}">
  <ion-nav-bar class="bar-assertive" align-title="center">
    <ion-nav-back-button>
    </ion-nav-back-button>
  </ion-nav-bar>
    
  <ion-content class="recDetBody">
    <div class="recipeImage">
        <img src="http://w4l-recipes.appspot.com/img/{{details.details.image}}">
    </div>
    <h5>Preparation time: {{details.details.prepTime}} minutes</h5>
    <h5>Cooking time: {{details.details.cookTime}} minutes</h5>
    <h5>Servings: {{details.details.servings}}</h5>
    <h5>Level: {{details.details2.level.label}}</h5>
    <h5>Category: {{details.details2.category.label}}</h5>
    <h4 class="dividers"> Ingredients </h4>
    <div class="list">
      <ul style="list-style-type: disc">
        <li ng-repeat="i in recipeIngredients.content">
            - {{i.quantity}} {{i.__metadata.descriptives.ingredient.label}}
        </li>
      </ul>
    </div>
      
    <h4 class="dividers"> Directions </h4>
    <div class="card">
      <div ng-repeat="d in instructions.content" class="item item-text-wrap">
          {{d.instruction}}
      </div>
    </div>
  </ion-content>
</ion-view>
