<ion-view>
  <ion-header-bar class="bar-assertive" align-title="center">
    <a href="#/home"><button class="button button-icon icon ion-ios-home"></button></a>
    <h1 class="title">Search recipes</h1>
    <button class="button button-icon ion-funnel" ng-click="openModal()"></button>
  </ion-header-bar>
    
  <ion-content>
<!--  List of recipes  --> 
   <div class="list card" ng-repeat="recipe in recipes.content">
      <a href="#/app/recipeList/{{recipe.id}}" ng-click="selectRecipe({{recipe.id}})">
        <div class="item item-image">
          <img src="http://w4l-recipes.appspot.com/img/{{recipe.image}}">
          <span class="recipeTitle">{{recipe.name}}</span>
        </div>
        <div class="item">
          <p>{{recipe.description}}</p>
        </div>
     </a>
   </div>
  </ion-content>
</ion-view>

<!-- Modal page, filters -->
<script id="filterSearch.html" type="text/ng-template">
  <ion-modal-view view-title="Search">
    <ion-header-bar class="bar-assertive" align-title="center">
      <button class="button button-clear button-primary" ng-click="buttonCancel()">Cancel</button>
      <h1 class="title">Choose filters</h1>
    </ion-header-bar>
    
    <ion-content>
      <div class="list">
        <div style="color:red; background: white" class="item item-divider"> CATEGORY </div>
        <ion-checkbox ng-repeat="cat in categories.content"
                    ng-model="cat.checked" 
                    ng-checked="cat.checked">
          {{ cat.name }}
        </ion-checkbox>

        <div style="color:red; background: white" class="item item-divider"> DIFFICULTY </div>
        <ion-checkbox ng-repeat="level in levels.content"
                    ng-model="level.checked" 
                    ng-checked="level.checked">
          {{ level.name }}
        </ion-checkbox>

        <div style="color:red; background: white" class="item item-divider"> TIME </div>
        <ion-checkbox ng-repeat="item in checkListTime"
                    ng-model="item.checked" 
                    ng-checked="item.checked">
          {{ item.text }}
        </ion-checkbox>
      </div>
    </ion-content>
    
    <ion-footer-bar>
      <div class="tabs">
        <a class="tab-item" ng-click="buttonOK()">
          <h1 class="title"><div class="icon-left ion-funnel"> Filter</div></h1>
        </a>
      </div>
    </ion-footer-bar>
  </ion-modal-view>
</script>
