.recDetBody{
/*    height: 40%;*/
}

.recipeImage img {
    width: 100%;
}

/* Only preparation time, cooking time, servings... use h5 */
h5 {
  padding-left: 4%;
  display:inline;
}

.dividers {
    text-transform: uppercase;
    color: crimson;
    padding-left: 4%;
}

li {
    padding-left: 5%;
}